<div id="form" class="small-margin">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">

          <%= simple_form_for(@flat, html: { multipart: true }) do |f| %>
            <%= f.error_notification %>


              <%= f.input :title %>
              <%= f.input :street %>
              <%= f.input :zip_code %>
              <%= f.input :city %>
              <%= f.input :capacity %>
              <%= f.input :price %>
              <%= f.input :house_type, collection: ["Full house", "Shared room", "Private room"], as: :select %>
              <%= f.input :picture, as: :file %>


            <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
