<div id="form">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">

          <%= simple_form_for(@flat, html: { multipart: true }) do |f| %>
            <%= f.error_notification %>

            <p>
              <%= f.input :title %>
              <%= f.input :street %>
              <%= f.input :zip_code %>
              <%= f.input :city %>
              <%= f.input :capacity %>
              <%= f.input :price %>
              <%#= f.input :picture, as: :file %>
            </p>

            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
