
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCq5teN1gw4wCSsoRqTlEtZb-kCuPCENyo">

function initializeAutocomplete(id) {
  var element = document.getElementById(id);
  if (element) {
    var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
    google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
  }
}

function onPlaceChanged() {
  var place = this.getPlace();

  // console.log(place);  // Uncomment this line to view the full object returned by Google API.

  for (var i in place.address_components) {
    var component = place.address_components[i];
    for (var j in component.types) {  // Some types are ["country", "political"]
      var type_element = document.getElementById(component.types[j]);
      if (type_element) {
        type_element.value = component.long_name;
      }
    }
  }
}

google.maps.event.addDomListener(window, 'load', function() {
  initializeAutocomplete('user_input_autocomplete_address');
});

</script>

<script type="text/javascript" src="autocomplete.js"></script>
<div id="form" class="small-margin">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">

          <%= simple_form_for(@flat, html: { multipart: true }) do |f| %>
            <%= f.error_notification %>


              <%= f.input :title %>
              <%= f.input :street %>
              <%= f.input :zip_code %>
              <%= f.input :city %>
              <%= f.input :capacity %>
              <%= f.input :price %>
              <%= f.input :description %>
              <%= f.input :room_number %>
              <%= f.input :bed_number %>
              <%= f.input :house_type, collection: ["Full house", "Shared room", "Private room"], as: :select %>
              <%= f.input :picture, as: :file %>


            <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>






