<div class = "text-center">

  <h1><%= @flat.title %></h1>
  <p><%= @flat.zip_code %> - <%= @flat.city %></p>

  <hr>

  <p>capacity: <%= @flat.capacity %>, price: <%= @flat.price %>$/night   </p>


  <%= link_to "Edit your announce", edit_flat_path, class: "btn btn-primary" %>
</div>
