<div>
  <div class="text-center">
    <h1>My trips</h1>
  </div>

  <div class="white-box">
    <div class="text-center">
    <% @bookings_as_user.each do |booking| %>
      <h2><%= booking.flat.city %></h2>
    </div>
      <h3><%= booking.flat.title %></h3>
      <p><%= booking.user.first_name %> <%=booking.user.last_name%></p>
    <% end %>
  </div>
  <i class="fa fa-plus"></i>
  <%= link_to 'See all my trips', '#'%>


</div>

<div>

  <h1>My bookings</h1>
  <% @bookings_as_owner.each do |booking| %>
    <h2><%= booking.user.first_name %><%=booking.user.last_name%></h2>
    <p><%= booking.start_date %></p>
    <p><%= booking.end_date %></p>
  <% end %>
</div>
