<div class="title-margin">


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="card-fixed text-center">
          <% if current_user.provider? %>
            <%= image_tag current_user.picture, class: "img-profile" %>
          <% else %>
            <%= image_tag current_user.picture.url(:thumb) %>
          <% end %>
          <h3><%= current_user.first_name %></h3>

          <%= link_to "Edit your profile", edit_user_path, class: "btn btn-primary" %>

        </div>
      </div>
      <div class="col-xs-12 col-md-9">
          <h2>Description</h2>
          <% if current_user.description? %>
            <p><%= current_user.description %></p>
          <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="card-title">
          <h2>My Trips</h2>
        </div>
        <div class="user-card-white">
          <% @bookings_as_user.each do |booking| %>
                <div class="container">
                  <div class="row">
                    <div class="padding">
                      <div class="col-xs-12 col-md-2">
                        <%= image_tag booking.flat.picture.url(:thumb) %>
                      </div>

                      <div class="col-xs-12 col-md-10">
                        <%= link_to flat_path(booking.flat) do %>
                          <h4><%= booking.flat.title %> - <%= booking.flat.city %></h4>
                        <% end %>
                        <p><%= booking.user.first_name.try(:camelize) %> <%=booking.user.last_name.try(:camelize) %></p>
                        <p>From <%= booking.start_date %> to <%= booking.end_date %></p>
                      </div>
                    </div>

                  </div>
                </div>
          <% end %>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="card-title">
          <h2>My Booking</h2>
        </div>
        <% @bookings_as_owner.each do |booking| %>

              <div class="user-card-white">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-2">
                      <% if current_user.provider? %>
                        <%= image_tag current_user.picture, class: "img-profile" %>
                      <% else %>
                        <%= image_tag current_user.picture.url(:thumb) %>
                      <% end %>
                    </div>
                    <div class="col-xs-12 col-md-10">
                      <%= link_to user_path(booking.user) do %>
                        <h4><%= booking.user.first_name.try(:camelize) %> <%=booking.user.last_name.try(:camelize) %></h4>
                      <% end %>
                      <p>Arrival : <%= booking.start_date %></p>
                      <p>Departure : <%= booking.end_date %></p>
                    </div>
                  </div>
                </div>

              </div>

        <% end %>
      </div>
    </div>

  </div>



</div>
