<div id="wrapper">
  <div id="banner-home" class="text-center">
    <h1>Welcome Home</h1>
    <p>Rent unique places to stay from local hosts in 190+ countries.</p>
  </div>
  <div id="searchbar" class="text-center">
    <div class="container">
      <div class="row">
        <%= form_tag search_flats_path, class: "form-inline", method: :get do %>

            <div class="form-group">
              <label class="sr-only" for="city">City</label>
              <%= text_field_tag :city, nil, class: "form-control", placeholder: "Search by city" %>
            </div>
            <div class="form-group">
              <label class="sr-only" for="check-in">Check-in</label>
              <%= text_field_tag :check_in, nil, class: "form-control", :data => {:provide => :datepicker, 'date-format' => "dd/mm/yyyy"}, placeholder: "check-in" %>
            </div>
            <div class="form-group">
              <label class="sr-only" for="check-out">Check-out</label>
              <%= text_field_tag :check_out, nil, class: "form-control", :data => {:provide => :datepicker, 'date-format' => "dd/mm/yyyy"}, placeholder: "check-out" %>
            </div>
            <div class="form-group">
              <label class="sr-only" for="capacity">Capacity</label>
              <%= number_field_tag :capacity, nil, class: "form-control", placeholder: "Number of guest"%>
            </div>
            <%= submit_tag 'Search', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="flat-examples" class= "text-center vertical-padded">
  <h2>Explore the world</h2>
  <p>Discover where people travel, all around the world.</p>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div id="img-bruges" class="img-card">
          <%= link_to search_flats_path(city: "Bruges") do %>
            <h3>BRUGES</h3>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div id="img-petra" class="img-card">
          <h3>PETRA</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div id="img-trouville" class="img-card">
          <h3>TROUVILLE</h3>
        </div>
      </div>
    </div>
  </div>
</div>



